<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated requirementsEditor -->
      <package
            uri="http://www.isf.cs.tu-bs.de/reqeditor"
            class="de.tubs.cs.isf.requirementseditor.RequirementsEditorPackage"
            genModel="model/requirementsEditor.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.tubs.cs.isf.reqeditor.perspective.PerspectiveFactory"
            icon="icons/repo_rep.gif"
            id="de.tubs.cs.isf.reqeditor.perspective"
            name="Requirement Edior">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tubs.cs.isf.reqeditor.category"
            name="Requirement Editor">
      </category>
      <wizard
            category="de.tubs.cs.isf.reqeditor.category"
            class="de.tubs.cs.isf.reqeditor.wizard.NewProjectWizard"
            icon="icons/repo_rep.gif"
            id="de.tubs.cs.isf.reqeditor.wizard.project"
            name="New Requirement Project">
      </wizard>
      <wizard
            category="de.tubs.cs.isf.reqeditor.category"
            class="de.tubs.cs.isf.reqeditor.wizard.NewModelWizard"
            hasPages="false"
            icon="icons/repository_rep.gif"
            id="de.tubs.cs.isf.reqeditor.wizard.model"
            name="New Model">
      </wizard>
   </extension>
   <extension
         id="de.tubs.cs.isf.reqeditor.projectexplorer.content"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.tubs.cs.isf.reqeditor.RequirementsExplorerContent"
            icon="icons/repo_rep.gif"
            id="de.tubs.cs.isf.reqeditor.navigatorContent"
            labelProvider="de.tubs.cs.isf.reqeditor.RequirementsExplorerLabel"
            name="Requirements Project Explorer"
            priority="high">
         <enablement></enablement>
         <initialActivation></initialActivation>
      </navigatorContent>
      <commonWizard
            menuGroupId="de.tubs.cs.isf.reqeditor.category"
            type="new"
            wizardId="de.tubs.cs.isf.reqeditor.wizard.project">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.tubs.cs.isf.reqeditor.category"
            type="new"
            wizardId="de.tubs.cs.isf.reqeditor.wizard.model">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/repo_favicon.gif"
            id="de.tubs.cs.isf.reqeditor.image"
            natureId="de.tubs.cs.isf.reqeditor.ProjectNature">
      </image>
   </extension>
   <extension
         id="ProjectNature"
         name="Requirement Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tubs.cs.isf.reqeditor.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.tubs.cs.isf.reqeditor.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/repository_rep.gif"
            id="de.tubs.cs.isf.reqeditor.projectexplorer"
            name="Project Explorer"
            restorable="true">
      </view>
      <category
            id="de.tubs.cs.isf.reqeditor.category"
            name="Requirement Editor">
      </category>
   </extension>
   <extension
         id="de.tubs.cs.isf.reqeditor.projectexplorer.viewer"
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="de.tubs.cs.isf.reqeditor.projectexplorer">
      </viewer>
      <viewerContentBinding
            viewerId="de.tubs.cs.isf.reqeditor.projectexplorer">
         <includes>
            <contentExtension
                  pattern="de.tubs.cs.isf.reqeditor.projectexplorer.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="de.tubs.cs.isf.reqeditor.RequirementsEditingDomainFactory"
            id="de.tubs.cs.isf.reqeditor.editingDomain">
      </editingDomain>
   </extension>

</plugin>
