<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="M2TCategory"
            id="de.tubs.cs.isf.reqeditor.transformation.text.UI.category"
            name="TransformationUI">
      </category>
      <command
            name="ToCSV"
            categoryId="de.tubs.cs.isf.reqeditor.transformation.text.UI.category"
            id="de.tubs.cs.isf.reqeditor.transformation.text.UI.commands.toCSV">
      </command>
      <command
            categoryId="de.tubs.cs.isf.reqeditor.transformation.text.UI.category"
            id="de.tubs.cs.isf.reqeditor.transformation.text.UI.commands.toTex"
            name="ToTex">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.tubs.cs.isf.reqeditor.transformation.text.UI.commands.toCSV"
            class="de.tubs.cs.isf.reqeditor.transformation.text.ui.handlers.ToCSV">
      </handler>
      <handler
            class="de.tubs.cs.isf.reqeditor.transformation.text.ui.handlers.ToTex"
            commandId="de.tubs.cs.isf.reqeditor.transformation.text.UI.commands.toTex">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Transformation"
               mnemonic="M"
               id="de.tubs.cs.isf.reqeditor.transformation.text.UI.menus.transformation">
            <command
                  commandId="de.tubs.cs.isf.reqeditor.transformation.text.UI.commands.toCSV"
                  id="de.tubs.cs.isf.reqeditor.transformation.text.UI.menus.transformation.toCSV">
            </command>
            <command
                  commandId="de.tubs.cs.isf.reqeditor.transformation.text.UI.commands.toTex"
                  id="de.tubs.cs.isf.reqeditor.transformation.text.UI.menus.transformation.toTex"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
