<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="de.tubs.cs.isf.reqeditor.graphiti.diagramType"
            name="de.tubs.cs.isf.reqeditor.graphiti.diagramType"
            type="de.tubs.cs.isf.reqeditor.graphiti.diagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.tubs.cs.isf.reqeditor.graphiti.DiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="de.tubs.cs.isf.reqeditor.graphiti.diagramTypeProvider"
            name="de.tubs.cs.isf.reqeditor.graphiti.diagramTypeProvider">
         <diagramType
               id="de.tubs.cs.isf.reqeditor.graphiti.diagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.tubs.cs.isf.reqeditor.graphiti.propertyContributor">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.tubs.cs.isf.reqeditor.graphiti.propertyContributor">
         <propertySection
               class="de.tubs.cs.isf.reqeditor.graphiti.AbstractPropertySection"
               filter="de.tubs.cs.isf.reqeditor.graphiti.PropertiesFilter"
               id="de.tubs.cs.isf.reqeditor.graphiti.propertySection"
               tab="de.tubs.cs.isf.reqeditor.graphiti.propertyTab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.tubs.cs.isf.reqeditor.graphiti.propertyContributor">
         <propertyTab
               category="Graphiti"
               id="de.tubs.cs.isf.reqeditor.graphiti.propertyTab"
               label="Graphiti">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.tubs.cs.isf.reqeditor.category"
            class="de.tubs.cs.isf.reqeditor.graphiti.wizards.DiagramWizard"
            icon="icons/repository_rep.gif"
            id="de.tubs.cs.isf.reqeditor.graphiti.wizard"
            name="New Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tubs.cs.isf.reqeditor.graphiti.MyDiagramEditor"
            contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
            default="true"
            extensions="reqdia"
            icon="icons/repository_rep.gif"
            id="de.tubs.cs.isf.reqeditor.graphiti.editor"
            name="Requirement Diagram Editor">
         <contentTypeBinding
               contentTypeId="de.tubs.cs.isf.reqeditor.graphiti.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions=".reqdia"
            id="de.tubs.cs.isf.reqeditor.graphiti.content-type"
            name="Requirements Diagram"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.tubs.cs.isf.reqeditor.category"
            type="new"
            wizardId="de.tubs.cs.isf.reqeditor.graphiti.wizard">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
