<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated requirementsEditor -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tubs.cs.isf.requirementseditor.presentation.RequirementsEditorModelWizardID"
            name="%_UI_RequirementsEditorModelWizard_label"
            class="de.tubs.cs.isf.requirementseditor.presentation.RequirementsEditorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RequirementsEditorModelFile.gif">
         <description>%_UI_RequirementsEditorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated requirementsEditor -->
      <editor
            id="de.tubs.cs.isf.requirementseditor.presentation.RequirementsEditorEditorID"
            name="%_UI_RequirementsEditorEditor_label"
            icon="icons/full/obj16/RequirementsEditorModelFile.gif"
            extensions="reqs"
            class="de.tubs.cs.isf.requirementseditor.presentation.RequirementsEditorEditor"
            contributorClass="de.tubs.cs.isf.requirementseditor.presentation.RequirementsEditorActionBarContributor">
      </editor>
   </extension>

</plugin>
